@keyframes glowEffect {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.7);
    }
    50% {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(0, 123, 255, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 123, 255, 0.7);
    }
  }
  
  @keyframes glowRed {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }
  }
  
  @keyframes glowGreen {
    0% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
  }
  